@charset "ISO-8859-1";

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/*NAVIGATION BAR*/
.topnav {
	overflow: hidden;
	background-color: #247ba0;
	height: 10%;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #cbf3f0;
	color: black;
	border-radius: 100px;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
/* ---------------------------------------------------------*/

/* GENERAL CONTENT LAYOU */
.content {
	padding-top: 25px;
	text-align: -webkit-center;;
	background-color: #f8edeb;
	height: 30em;
	display: block;
	width: 100%;
}
/* ---------------------------------------------------------*/

/* FORM LAYOUT */
.form-wrapper {
	text-align: center;
	background: dodgerblue;
	position: absolute;
	top: 25%;
	left: 30%;
	right: 30%;
	background-color: #cbf3f0;
	border-radius: 10px;
}

.contact-form {
	padding-top: 2%;
	padding-bottom: 5%;
}

.form-button {
	font-size: 20px;
	margin: 5px;
	width: 50px;
	background-color: white;
}

.form-button:hover {
	background-color: grey;
}
/* ---------------------------------------------------------*/
.list-wrap {
	width: 100%;
	text-align: -webkit-center;
	padding-top: inherit;
}

.search-bar {
	width: 30%;
	padding-right: 50px;
	height: 27px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.search-button {
	margin-left: -40px;
	height: 29px;
	background: #247ba0;
	color: white;
	border: solid;
	border-color: #247ba0; width : 50px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	width: 50px;
}

.search-button:hover {
	background-color: grey;
	border-color: grey;
	cursor: pointer;
}

.search-button:active {
	outline: 0px;
}

.list {
	width: 80%;
}

.form-button {
	border-radius: 5px;
	border-style: hidden;
	margin: 15px;
}


.contact-form {
	padding-top: 2%;
	padding-bottom: 5%;
}

.button-layout {
	padding-top: 10px;
	color: tomato;
}

.form-button {
	font-size: 20px;
	margin: 5px;
	width: 50px;
	background-color: white;
}

.form-button:hover {
	background-color: grey;
}

.list {
	border-collapse: collapse;
}

.just-contacts:hover {
	background-color: grey;
}

.list-head {
	border-bottom: solid;
	margin-bottom: 20px;
}

tr td {
	vertical-align: center;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

tr {
	padding-bottom: 7px;
	vertical-align: center;
	text-align: left;
}

tr:hover .table-button {
	visibility: visible;
}

input {
	border-radius: 15px;
	padding-left: 15px;
	border-style: hidden;
}

input:focus {
	outline: 0px;
}

.form-button {
	border-radius: 5px;
	border-style: hidden;
	margin: 10px;
}

.table-button {
	float: left;
	padding-left: 15px;
	visibility: hidden;
}

/* Footer */
footer {
	text-align: center;
	background-color: #247ba0;
	color: white;
	height: 3em;
}

.to-round-first {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.to-round-last {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.to-round-all {
	border-radius: 10px;
}